body{
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* HEADINGS*/
.header--main{
    font-weight: normal;
    font-size: 50px;
    color:#fff;
}

.header--2{
color: #ffffff;
font-weight: 300;
font-size: 40px;
}

.header--3{
    font-size: 18px;
    color: grey;
}

/* LINKS*/

.link--cta{
    font-weight: normal;
    font-size: 15px;
    color:aqua
}

