body{
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* HEADINGS*/
.header--main{
    font-weight: normal;
    font-size: 50px;
    color:#fff;
}

.header--2{
color: #ffffff;
font-weight: 300;
font-size: 40px;
}

.header--3{
    font-size: 20px;
    color: grey;
}

/* LINKS*/

.link--cta{
    font-weight: normal;
    font-size: 15px;
    color:aqua;
}


/*FOOTER*/

.link--ct{
font-weight: normal;
font-size: 21px;
color:grey;
text-align: right;
}

